@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>AWESOME BIRTDAY PARTY !</h1>
    <p>Sende Davetlisin</p>
    @Html.ActionLink("Geliyor musun?","InviteForm", null, new { @class = "btn btn-primary"})
</div>
